body{
    font-size: 20px;
    margin: 0;
    background-color: whitesmoke;
    background-position: center;
    background-repeat: no-repeat;
}
table{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
td{
    margin: 5px;
}
input[type=text] {
    border-radius: 5px;
    width: 200px;
    height:30px;
}
.btn{
    border-radius: 5px;
    border: 2px black solid;
    font-size: 20px;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
}
