body{
    font-size: 20px;
    margin: 0;
    background-color: whitesmoke;
    background-position: center;
    background-repeat: no-repeat;
}
.routeform{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    width: 200px;
}
p{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    width: 300px;
}

input[type=text] {
    border-radius: 5px;
    width: 200px;
    height:30px;
}
.btn{
    display: block;
    border-radius: 5px;
    border: 2px black solid;
    padding: 14px 20px;
    cursor: pointer;
    width: 200px;
}
