body{
    margin: 0;
    background-color: whitesmoke;
    background-repeat: no-repeat;
}
/* MENU */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    width: 100%;
}

li {
    float: left;
    width: 24%;
    border-radius: 2px;
    border-bottom: 3px whitesmoke solid;
}
li:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-bottom: 3px black solid;
}
li a {
    color: black;
    display: block;
    text-align: center;
    padding: 25px 0px  25px 0px ;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
li a:hover{
    background-color: darkgrey;
    opacity: 1;
}
/* MENU */

/*Error Message*/
.error_message{
    width: 300px;
    margin: 20px auto 20px auto;
    color: red;
    font-size: 20px;
}
/*Registration Form*/
.registr_greetings{
    margin: 10px auto 10px auto;
    width: 300px;
}

.registration_form{
    margin: 10px auto 10px auto;
    width: 300px;
    font-size: 18px;
}

.registration_form .label{
    margin: 5px;
    width: 300px;
}
.registration_form .input{
    margin: 5px;
    width: 300px;
    height: 25px;
}
input{
    height: 30px;
    width: 300px;
}
 .registration_form .input[type="submit"]{
    margin-top: 10px;
    display: block;
    height: 50px;
    font-size: 18px;
}
/*Registration Form*/